Repository traP-jp/pteron-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --check

fix: remove Text component styling from theme and clean up Home.tsx imports
  src/pages/Home.tsx
  src/theme.ts
Due: eslint --max-warnings=0, prettier --check

load p-amount.module.scss
  src/theme.ts
Due: eslint --max-warnings=0, prettier --check

fix: typo
  src/theme.ts
Due: eslint --max-warnings=0, prettier --check

feat: implement TransactionItem and TransactionList components
  src/components/TransactionItem.tsx
  src/components/TransactionList.tsx
Due: eslint --max-warnings=0, prettier --check

feat: add mock transactions and integrate TransactionList component in Home
  src/pages/Home.tsx
Due: eslint --max-warnings=0, prettier --check

chore: add workflow to run lint and build steps
  .github/workflows/ci.yml
Due: none

chore: Add CI step to generate API types and update `gen-api` script to use `npx -y`.
  scripts/gen-api.sh
Due: none

feat: Add API type generation step to CI workflow.
  .github/workflows/ci.yml
Due: none

ci: Add ci-check job to ensure successful completion of lint and build steps.
  .github/workflows/ci.yml
Due: none

feat: プロジェクト作成モーダルを作成
  src/components/CreateProjectModal.tsx
  src/pages/Home.tsx
Due: eslint --max-warnings=0, prettier --check

fot-fix: ignore auto-generated files
  src/api/schema/internal.ts
  src/api/schema/public.ts
Due: eslint --max-warnings=0, prettier --check

fot-fix: ignore auto-generated files (#72)
  src/api/schema/internal.ts
  src/api/schema/public.ts
Due: eslint --max-warnings=0, prettier --check

chore: add workflow to run lint and build steps (#68)
  .github/workflows/ci.yml
  scripts/gen-api.sh
Due: none

feat: Add a development-only sandbox page and move component showcases from Home.
  src/Layout.tsx
  src/pages/Home.tsx
  src/pages/Sandbox.tsx
  src/router.tsx
Due: eslint --max-warnings=0, prettier --check

feat: Organize Sandbox page component examples into collapsible accordions for improved readability.
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

organize
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

Feature/63 add sandbox page (#66)
  src/Layout.tsx
  src/pages/Home.tsx
  src/pages/Sandbox.tsx
  src/router.tsx
Due: eslint --max-warnings=0, prettier --check

create: EntityCard
  src/components/EntityCard.tsx
  src/components/PAvatar.tsx
  src/pages/Sandbox.tsx
  src/styles/entity-card.module.scss
  src/types/amount.ts
  src/types/userOrProject.ts
Due: eslint --max-warnings=0, prettier --check

chore: post-merge
  .githooks/post-merge
  .githooks/pre-commit
Due: none

refactor: format
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

feat: Generalize ranking components to support both user and project rankings
  src/components/ranking/RankingFull.tsx
  src/components/ranking/RankingList.tsx
  src/components/ranking/RankingTop3.tsx
  src/components/ranking/RankingTypes.ts
  src/components/ranking/index.ts
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

chore: Configure lint-staged to auto-fix ESLint errors and auto-format with Prettier.
  .lintstagedrc.json
Due: prettier --check

Update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --check

add checkout(wip)
  src/pages/Checkout.tsx
Due: eslint --max-warnings=0, prettier --check

add `default`
  src/pages/Checkout.tsx
Due: eslint --max-warnings=0, prettier --check

migrate previous sources
  src/components/CreateProjectModal.tsx
  src/components/PAvatar.tsx
  src/components/TransactionItem.tsx
  src/components/TransactionList.tsx
  src/components/ranking/RankingTypes.ts
  src/components/ranking/index.ts
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

migrate api client generator
  package.json
  pnpm-lock.yaml
  scripts/gen-api.sh
  src/api/api.ts
  src/api/client.ts
  src/api/index.ts
  src/api/paths.ts
Due: eslint --max-warnings=0, prettier --check

fix: update transaction property access
  src/components/TransactionItem.tsx
Due: eslint --max-warnings=0, prettier --check

fix: update mock data
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

feat: Update mocks for new swagger-typescript-api schema structure
  public/mockServiceWorker.js
  src/main.tsx
  src/mocks/README.md
  src/mocks/browser.ts
  src/mocks/data.ts
  src/mocks/handlers.ts
Due: eslint --max-warnings=0, prettier --check

feat: Add URL validation to CreateProjectModal by integrating Mantine Form and Zod.
  package.json
  pnpm-lock.yaml
  src/components/CreateProjectModal.tsx
Due: eslint --max-warnings=0, prettier --check

fix: use correct property access for Transaction type
  src/components/TransactionItem.tsx
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

fix: APIスキーマ再生成後の型エラーを修正
  src/components/CreateProjectModal.tsx
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

fix: Update for new spec changes (operationIds and required fields)
  src/components/CreateProjectModal.tsx
  src/mocks/data.ts
  src/mocks/handlers.ts
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

fix: resolve merge conflicts and align Transaction types to internal schema
  src/components/CreateProjectModal.tsx
  src/components/TransactionItem.tsx
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

docs: Update mock usages in README to match new API client method names
  src/mocks/README.md
Due: prettier --check

links
  src/components/EntityCard.tsx
  src/components/MaybeLink.tsx
  src/pages/Sandbox.tsx
  src/types/href.ts
Due: eslint --max-warnings=0, prettier --check

chore: add `onlyBuiltDependencies` to pnpm workspace configuration for specific packages.
  pnpm-workspace.yaml
Due: none

chore: pnpm dev opens /sandbox by default, while pnpm preview (the built version) defaults to / (Home).
  vite.config.ts
Due: eslint --max-warnings=0, prettier --check

fix: entity card external link
  src/components/EntityCard.tsx
  src/components/MaybeLink.tsx
  src/components/lib/link.ts
  src/components/ranking/RankingList.tsx
  src/components/ranking/RankingTop3.tsx
  src/pages/Sandbox.tsx
Due: eslint --max-warnings=0, prettier --check

Path conditions:
  eslint --max-warnings=0: any of: *.{js,jsx,ts,tsx,css}
  prettier --check: any of: *.{js,jsx,ts,tsx,vue,css,scss,sass,html,md,json,cjs}
