Repository traP-jp/pteron-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --check

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,css,scss}": "eslint --max-warnings=0",
    "*.{js,jsx,ts,tsx,vue,css,scss,sass,html,md,json,cjs}": "prettier --check"
}

modify: docs
  README.md
Due: prettier --check

CI
  .github/workflows/dispatch-update.yaml
Due: none

feat: add libs
  package.json
  pnpm-lock.yaml
Due: prettier --check

feat: add mantine charts and modals
  package.json
  pnpm-lock.yaml
  src/App.tsx
Due: eslint --max-warnings=0, prettier --check

feat: add tailwindcss
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/App.tsx
  src/index.css
  tailwind.config.js
Due: eslint --max-warnings=0, prettier --check

chore: add issue template
  .github/ISSUE_TEMPLATE/01-enhancement.yml
  .github/ISSUE_TEMPLATE/02-bug.yml
  .github/ISSUE_TEMPLATE/03-refactor.yml
  .github/ISSUE_TEMPLATE/04-chore.yml
Due: none

chore: modify issue template wording
  .github/ISSUE_TEMPLATE/01-enhancement.yml
Due: none

feat: setup react router
  src/App.tsx
  src/pages/Checkout.tsx
  src/pages/Home.tsx
  src/pages/UserProfile.tsx
  src/router.tsx
Due: eslint --max-warnings=0, prettier --check

feat: add layout layer
  src/Layout.tsx
  src/router.tsx
Due: eslint --max-warnings=0, prettier --check

chore: add comment-no-response workflow
  .github/workflows/comment-no-response.yml
Due: none

refactor: run format
  src/Layout.tsx
  src/index.css
  src/main.tsx
  src/pages/Checkout.tsx
  src/pages/Home.tsx
  src/pages/UserProfile.tsx
  src/router.tsx
  src/theme.ts
Due: eslint --max-warnings=0, prettier --check

Revert "refactor: run format"
  src/Layout.tsx
  src/index.css
  src/main.tsx
  src/pages/Checkout.tsx
  src/pages/Home.tsx
  src/pages/UserProfile.tsx
  src/router.tsx
  src/theme.ts
Due: eslint --max-warnings=0, prettier --check

feat: lazy loading できるようにする
  src/App.tsx
  src/Layout.tsx
  src/index.css
  src/main.tsx
  src/pages/Checkout.tsx
  src/pages/Home.tsx
  src/pages/UserProfile.tsx
  src/router.tsx
  src/theme.ts
Due: eslint --max-warnings=0, prettier --check

apis
  .gitignore
  openapitools.json
  package.json
  pnpm-lock.yaml
  scripts/gen-api.sh
  src/api/api.ts
Due: eslint --max-warnings=0, prettier --check

fix docs
  .gitignore
  README.md
Due: prettier --check

fix
  src/api/api.ts
Due: eslint --max-warnings=0, prettier --check

fix path
  src/api/api.ts
  src/api/schema/internal.ts
  src/api/schema/public.ts
Due: eslint --max-warnings=0, prettier --check

chore: add typecheck to lint
  package.json
Due: prettier --check

chore: remove duplicate lint and format scripts from package.json
  package.json
Due: prettier --check

fix file ext
  vite.config.ts
Due: eslint --max-warnings=0, prettier --check

chore: add typecheck to precommit
  .lintstagedrc.json
Due: prettier --check

chore: add pr automation
  .github/workflows/pr-automation.yml
Due: none

docs: add contributing guidelines
  CONTRIBUTING.md
Due: prettier --check

chore: fix pr-automation workflow
  .github/workflows/pr-automation.yml
Due: none

Updated CodeQL workflow schedule and added workflow dispatch.
  .github/workflows/codeql.yml
Due: none

components: p-avatar
  .lintstagedrc.json
  .prettierrc
  package.json
  pnpm-lock.yaml
  scripts/gen-api.sh
  src/api/api.ts
  src/api/client.ts
  src/components/PAvatar.tsx
  src/styles/p-avater.module.scss
  src/theme.ts
  src/types/entity.ts
  tsconfig.app.json
  vite.config.ts
Due: eslint --max-warnings=0, prettier --check

p-avatar: add samples
  src/api/api.ts
  src/pages/Home.tsx
  src/types/entity.ts
Due: eslint --max-warnings=0, prettier --check

feat: update font stack to use 'M PLUS 1' across the application
  src/index.css
  src/theme.ts
Due: eslint --max-warnings=0, prettier --check

feat: Implement API mocking using Mock Service Worker (MSW) in the client application.
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/main.tsx
  src/mocks/README.md
  src/mocks/browser.ts
  src/mocks/data.ts
  src/mocks/handlers.ts
  src/mocks/index.ts
Due: eslint --max-warnings=0, prettier --check

feat: 順位変動の矢印を追加
  src/components/TrendIndicator.tsx
  src/pages/Home.tsx
Due: eslint --max-warnings=0, prettier --check

refactor: TrendIndicator の中身をいろいろ共通化
  src/components/TrendIndicator.tsx
  src/pages/Home.tsx
Due: eslint --max-warnings=0, prettier --check

feat: 順位変動の矢印を追加 (#40)
  src/components/TrendIndicator.tsx
  src/pages/Home.tsx
Due: eslint --max-warnings=0, prettier --check

feat: add and refactor page components
  src/pages/Checkout.tsx
  src/pages/Home.tsx
  src/pages/ProjectDetails.tsx
  src/pages/Projects.tsx
  src/pages/Stats.tsx
  src/pages/UserProfile.tsx
  src/pages/Users.tsx
  src/router.tsx
Due: eslint --max-warnings=0, prettier --check

fix: typo avater -> avatar
  src/components/PAvatar.tsx
  src/pages/Home.tsx
  src/styles/p-avatar.module.scss
  src/theme.ts
Due: eslint --max-warnings=0, prettier --check

feat: implement sidebar and footer
  src/Layout.tsx
  src/assets/icons/copiaLogo.svg
Due: eslint --max-warnings=0, prettier --check

feat: Implement user ranking display components and integrate them into the Home page with mock data.
  src/components/ranking/RankingFull.tsx
  src/components/ranking/RankingList.tsx
  src/components/ranking/RankingTop3.tsx
  src/components/ranking/RankingTypes.ts
  src/components/ranking/index.ts
  src/pages/Home.tsx
Due: eslint --max-warnings=0, prettier --check

create: p-amount
  package.json
  pnpm-lock.yaml
  src/assets/icons/copia.svg
  src/components/PAmount.tsx
  src/pages/Home.tsx
  src/styles/p-amount.module.scss
  src/theme.ts
  tsconfig.app.json
  vite.config.ts
Due: eslint --max-warnings=0, prettier --check

Update src/components/ranking/RankingTop3.tsx
  src/components/ranking/RankingTop3.tsx
Due: eslint --max-warnings=0, prettier --check
